<div class="sidebar">

<%# sidebar = yield :sidebar %>

<% #if sidebar.blank? %>
<%#= fail %>
	<% if current_user %>
		<%= render partial: "users/user2", locals: { user: current_user } %>
	<% end %>
		<%= render partial: "sidebars/restaurant" %>
		<%= render partial: "sidebars/user" %>
<%# end %>

<%#= fail %>
</div>

