<div class="sidebar isShowing">

  <% if current_user %>
    <%= render partial: "users/user2", locals: { user: current_user } %>
  <% end %>
    <%= render partial: "sidebars/restaurant" %>
    <br>
    <br>
    <%= render partial: "sidebars/user" %>
    
</div>

