<section class="sign-in-content group">

	<h1 class="sign-in-header">Sign In</h1>

	<%= render "layouts/errors" %>

	<h3 class="welcome-message">Welcome back!</h3>


	<form class="sign-in" action="<%= session_url %>" method="post">

		<%= auth_token %>

	<div class="input">
		<label>Email</label>
		<input type='sign-in-text' name="user[email]" value="">
	</div>

	<div class="input">
		<label>Password</label>
		<input type='sign-in-password' name="user[password]" value="">
	</div>

		<input type="submit" value="Sign In">
	</form>

</section>
