<!-- <p>
  <%#= link_to comment.body, restaurant_comments_url(comment.restaurant.id) %>
</p>

<ul>
  <% comments_by_parent[comment.id].each do |child_comment| %>
    <li><%= comment_partial(child_comment, comments_by_parent) %></li>
  <% end %>
</ul> -->