<ul>
  <% comments_by_parent[comment_id].each do |child_comment| %>
    <li>
    	<%= child_comment.body %>

    	<%= render partial: "comments/delete", locals: { comment_type: child_comment } %>

    	<%= render partial: "comments/form", locals: {
    												comment_parent_comment_id: child_comment.id, 
														commentable_id: child_comment.commentable_id, 
														commentable_type: child_comment.commentable_type } %>

			<%= comment_partial(child_comment.id, comments_by_parent) %>

    </li>
  <% end %>
</ul>