<!-- 
<section class="comments">

<%#= render partial: "comments/form", locals: {comment_parent_comment_id: comment_parent_comment_id, 
												commentable_id: commentable_id, commentable_type: commentable_type } %>

<ul>
	<%#= render partial: "comments/comment", collection: comments, locals: {
											comment_parent_comment_id: comment_parent_comment_id, 
												commentable_id: commentable_id, commentable_type: commentable_type } %>
</ul>

</section> -->