<!-- <div class="delete-buton"> -->
	<% if current_user %>
		<% if current_user.id == comment_type.user_id %>
			<%= button_to "Delete", comment_url(comment_type.id), method: :delete, remote: true %>
		<% end %>
	<% end %>
<!-- </div> -->
