
<ul class="comment-list">

	<% restaurant.comments.each do |parent_comment| %>
		<li class="parent-comment"><%= parent_comment.body %></li>

			<ul class= "sub-comment-list">
				<% restaurant.comments_by_parent[parent_comment.id].each do 
																										|child_comment| %>
					<li class="sub-comment"><%= child_comment.body %></li>
				<% end %>
			</ul>

			Reply to this Review:
			<%#= render partial: "comments/subform", locals: {comment: parent_comment.child_comments.new} %>
			
		</li>
	<% end %>

</ul>




