
<ul class="notifications main-content">
  <h1 class="notice-header">Notifications:</h1>
  <% if current_user.notifications %>
  	<%= render partial: "notifications/notification", collection: current_user.notifications %>
  <% else %>
  	You have no current notifications!
  <% end %>
</ul>

<%= render partial: "sidebars/sidebar" %>

