
<ul class="notifications main-content">
  <h1 class="notice-header">Notifications:</h1>
  <%= render partial: "notifications/notification", collection: current_user.notifications %>
</ul>

<%= render partial: "sidebars/sidebar" %>

