<h3>Existing Tags</h3>

<ul class="restaurant-tags">

	<% restaurant.tags.each do |tag| %>
	<li>
		<%= tag.body %>
		<%= render partial: "tags/delete", locals: {restaurant: restaurant, tag: tag} %>
	</li>
	<% end %>

</ul>