 <section id="main-content" class="main-content group">

<%= render partial: "restaurants/index", locals: {restaurants: @restaurants}
 %>

<%= paginate @restaurants %>

</section>

<%= render partial: "sidebars/sidebar" %>
