<h1>NEW SEARCH</h1>

<form action="<%= searches_url %>" method="post">
	<%= auth_token %>

	<input type="text" name="" value="search params">
	<input type="text" name="" value="location">

	<input type="submit" value="make search">
</form>