

  <div id='map'></div>


<iframe class="search-show-map" width='700px' height='600px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/afbresley.i3laa2in/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe>

<p>You searched for:
<%= @search.search_params %>
Near:
<%= @search.start_location %>
</p>

</div>

<!-- 
	1) dynamicly center upon loading
	2) input search params
	3) text results of search
	4) filtering searches...
 -->