// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-comments {
	// border-left: 1px solid #c41200;
	// border-right: 1px solid #c41200;

}

.new-comment {
	// border-top: 1px solid #c41200;
	// border-bottom: 1px solid #ccc;
	padding: 10px 20px;
	padding-right: 60px;
}

.rating-box {
	// border: 1px solid black;
	padding: 5px;
	font-size: 18px;
}

.comment-textarea {
	border: 1px solid #000;
	height: 100px;
	width: 400px;
	font-size: 18px;
	padding: 5px 10px;
}

.new-review-invitation {
	font-size: 24px;
	padding-left: 20px;
	display: block;
}

.comment-list-form {

}

.comment-list-form > li {
	position: relative;
	padding: 15px 200px;
}

.comment-list-form > li > label {
	position: absolute;
	left: 20px;
	top: 20px;
}

.new-comment > input[type="submit"]{
	background: #ccc;
	height: 30px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 20px;
	padding: 5px 10px;
	float: right;
}

.all-comments {
	padding: 20px;
}

.comment-label {

}

.comment-list {
}

.each-comment {
	border-top: 1px solid #ccc;
	padding: 25px 30px;
	position: relative;
	padding-left: 165px;
	margin-bottom: 35px;
}

.reviewer-name {
	font-weight: bold;
	// position: absolute;
	padding-bottom: 3px;
	// margin-top: 5px;
}

.review-rating {
	margin-top: -78px;
	color: gold;
	padding-bottom: 8px;
	text-shadow:1px 1px #C52C1E, .1em .1em .2em rgba(0,0,0,.5);

}

.review-body {
	// margin: 20px;
	padding-bottom: 10px;
}

.reviewer-pic {
	// left: 35px;
	// top: 30px;
	// padding-bottom: 15px;
	width: 120%;
	position: relative;
	left: -130px;
	top: -19px;
	// margin-bottom: 15px;
}

.delete-button > div {

	}

.delete-button > div > input[type="submit"]{
	background: #ccc;
	font-size: 12px;
}

.delete-review {
	background: blue;
}

#picture-comment { 
	height: 75px;
	width: 75px;
}


// #picture-comment {
// 	width: 120px;
// 	height: 100px;

// }

// #rating {
// 	font-weight: bold;
// 	font-size: 26px;
// 	unicode-bidi: bidi-override;
// 	direction: rtl;
// }

// #rating > span {
// 	display: inline-block;
// 	position: relative;
// 	width: 1.1em;
// }

// #rating > span:hover:before,
// #rating > span:hover ~ span:before {
// 	content: "\2605";
// 	position: absolute;
// 	color: gold;
// }

#rating {
    float:left;
    border: 0;
}

#rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    // clip:rect(0,0,0,0);
}

#rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

#rating:not(:checked) > label:before {
    content: '★ ';
}

#rating > input:checked ~ label {
    color: gold;
    text-shadow:1px 1px #C52C1E, .1em .1em .2em rgba(0,0,0,.5);
}

#rating:not(:checked) > label:hover,
#rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px gold, 2px 2px gold, .1em .1em .2em rgba(0,0,0,.5);
}

#rating > input:checked + label:hover,
#rating > input:checked + label:hover ~ label,
#rating > input:checked ~ label:hover,
#rating > input:checked ~ label:hover ~ label,
#rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px gold, 2px 2px gold, .1em .1em .2em rgba(0,0,0,.5);
}

#rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}




#star-one {

}

#star-two {

}

#star-three {

}

#star-four {

}

#star-five {

}




