/* --- RESTAURANT SHOW --- */

.restaurant-show {
	padding: 0 15px;
}

.restaurant-info {
	height: 100px;
	position: relative;
}

.restaurant-header{
	padding-bottom: 5px;
}

.restaurant-rating {
	color: gold;
	font-size: 22px;
	float: left;
}

.rating-num {
	font-size: 22px;
	padding-left: 8px;
	float: left;
}

.restaurant-prof-pic {
	width: 250px;
	float: left;
}

.restaurant-address {
	float: right;
	font-size: 24px;
	margin-top: -18px; 
	font-weight: bold;
}

.restaurant-address-show {
	float: right;
	font-size: 24px;
	margin-top: -20px; 
	font-weight: bold;
}

.owner-options {
	text-align: right;
	padding-top: 15px;
}

.address-line {
}

.restaurant-show-map {
	float: right;
	display: block;	
	padding-top: 18px;
}

.graphics {
	// padding-bottom: 40px;
	// border: 1px solid blue;
	display: block;
	padding-bottom: 20px;
}

#show_map {
	// width:100%;
	width: 720px;
	height: 220px;
	frameBorder: 1;
	position: relative;
	top: 15px;
}


