// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search-result-content {
	width: 700px;
	position: relative;
	padding-left: 700px;
}

#search_map {
	position: absolute;
	width: 670px;
	height: 600px;
	// margin: 15;
	margin-left: 15px;
	// margin-bottom: 50px;
	// padding: 15px;
	frameBorder: 1;
	float: left;
	// left: 35px;
	// top: 5px;
	background: #fff;
}

.search-sidebar {
	width: 242px;
	float: right;
	// background: blue;
	padding: 0 15px;
	padding-left: 40px;
	border-left: 1px solid #c41200;
	background: #fff;
}

.search-sidebar > h3 {
	font-weight: bold;
	clear: right;

}

.search-sidebar > h3 > ul {
	padding-bottom: 15px;
} 

.search-sidebar > h3 > ul > li {
	padding-left: 15px;
	font-weight: normal;
}

.search-restaurant-list {
	// position: absolute;
	padding-top: 630px;
	padding-left: 15px;
	// margin-left: -700px;
	// background: blue;
	float: left;
	width: 600px;
	display: block;
	padding-bottom: 50px

}

.search-restaurant-list > ul > li {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 4px;
}

.search-restaurant-list > ul > li > a > i{
	color: gold;
}

.refine-search {
	// background: blue;
	font-weight: bold;
	padding-top: 10px;
}

#star-select {
	display: block;
}

.refine-search > label {
	margin-bottom: 20px;
}

.refine-search > input {
	padding: 10px 0;
	margin-right: 30px;
	margin: 15px 0;
	width: 230px
}

.refine-search > input[type="range"] {
	width: 180px;
	float: right;
	display: block;
}

#textInput {
	width: 35px;
	display: block;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	padding-right: 3px;
	font-size: 18px
}