/* --- SIDEBAR --- */

.sidebar {
  float: right;
  width: 296px;
  float: right;
}

.notification-list {
}

.notifications {
}

.prof-stuff {
  margin: 0 15px;
  border-bottom: 1px solid #ccc;
}

.main-info {
  margin-top: 15px;
}

.prof-picture {
  display: block;
  float: left;
  background: black;
  margin-right: 15px;
  width: 100px;
}

.prof-name {
  /*margin: 15px;*/
  font-weight: bold;
  left: 110px;
  font-size: 18px;
  padding-bottom: 1px;
}

.prof-options {
  margin: 15px 0;
  top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.prof-options > li {
  padding-bottom: 3px;
}

.load-prof-pic {
}

.load-prof-pic > input[type="submit"] {
  background: #ccc;
  font-weight: bold;
  /*margin-top: 15px;*/
}

.prof-string {
  background: #ddd;
  padding: -1px;
  border-radius: 15px;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;
  width: 200px; 
}

.notifications-warning {
  // padding-left: 15px;
}

:hover {
  // background: blue;
  // DROPDOWN MENU OF NOTIFICATIONS!
}

.user-restaurants {
  margin: 15px 0;
}

.your-restaurants {
  font-weight: bold;
}

.user-notifications {
 margin: 15px;
 font-size: 12px;
}

.sidebar-featured {
  margin: 15px;
}

.sidebar-user {
}

.sidebar-restaurant {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.isShowing {
  display: block;
} 

.notShowing {
  display: none;
}

.feat-header {
  font-size: 24px;
  margin-top: 15px;
}

.feat-title {
  font-weight: bold;
  padding-left: 10px;
  padding: 5px 0;
  font-size: 22px;
}

.feat-body {
  padding-left: 10px;
  font-size: 21px;
}

.feat-main-info {
  margin-top: 15px;
}

.feat-prof-picture {
  display: block;
  float: left;
  background: black;
  margin: 0px 15px;
  width: 100px;
  margin-bottom: 15px;
}

.feat-prof-name {
  margin-top: 25px;
  font-weight: bold;
  left: 110px;
  font-size: 26px;
  padding-bottom: 1px;
}

.feat-rest-add {
  font-size: 22px;
}

.feat-restaurant-tag {
  position: relative;
  font-size: 17px;
  padding:1px 10px 3px 12px;
  margin-top: 6px;
  background:#0089e0;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px; 
}

.feat-restaurant-tag:before {
  content:"";
  float:right;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #0089e0 transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;
}

.feat-restaurant-tag:after {
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:right;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #004977;
  -webkit-box-shadow:-1px -1px 2px #004977;
  box-shadow:-1px -1px 2px #004977;
}

.feat-restaurant-tags{
  margin: 0;
  margin-right: 15px;
  padding:0;
  // position:absolute;
  list-style: inline;
  float: right;
}

.feat-restaurant-rating {
  color: gold;
  font-size: 22px;
  float: left;
  text-shadow:1px 1px #C52C1E, .1em .1em .2em rgba(0,0,0,.5);
  padding-top: 15px;
  padding-left: 10px;
  display: inline;
}

.restaurant-unit {
  padding: 1px 0 1px 15px;
}

.restaurant-owner-extra {
  margin-left: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.rest-pic-upload > input[type="submit"] {
  background: #ccc;
  font-weight: bold;
  font-size: 12px;
}
