/* --- SIDEBAR --- */

.sidebar {
  // background: #bbb;
  float: right;
  width: 296px;
  // background: blue;
  float: right;

  // border-left: 1px solid #c12044;
}

.notification-list {
}

.notifications {
}

.main-info {
  margin-top: 15px;
}

.prof-picture {
  display: block;
  float: left;
  background: black;
  margin: 0px 15px;
  width: 100px;
}

.prof-name {
  /*margin: 15px;*/
  font-weight: bold;
  left: 110px;
  font-size: 18px;
  padding-bottom: 1px;
}

.prof-options {
  margin: 15px;
  top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.prof-options > li {
  padding-bottom: 3px;
}

.load-prof-pic {
}

.load-prof-pic > input[type="submit"] {
  background: #ccc;
  font-weight: bold;
  /*margin-top: 15px;*/
}

.prof-string {
  background: #fff;
  border-radius: 15px;
  border: 1px solid black;
  width: 200px; 
}

.notifications-warning {
  padding-left: 15px;
}

:hover {
  // background: blue;
  // DROPDOWN MENU OF NOTIFICATIONS!
}

.user-restaurants {
  margin: 15px;
}

.your-restaurants {
  font-weight: bold;
}

.user-notifications {
 margin: 15px;
 font-size: 12px;
}

.sidebar-featured {
  margin: 15px;
}

.sidebar-user {
}

.sidebar-restaurant {
}

.isShowing {
  display: block;
} 

.notShowing {
  display: none;
}

.feat-header {
  // font-weight: bold;
  font-size: 24px;
  margin-top: 15px;
}

.feat-title {
  font-weight: bold;
  padding-left: 10px;
  padding: 5px 0;
  font-size: 22px;
}

.feat-body {
  padding-left: 10px;
  font-size: 21px;
}

.feat-main-info {
  margin-top: 15px;
}

.feat-prof-picture {
  display: block;
  float: left;
  background: black;
  margin: 0px 15px;
  width: 100px;
}

.feat-prof-name {
  /*margin: 15px;*/
  font-weight: bold;
  left: 110px;
  font-size: 26px;
  padding-bottom: 1px;
  // position: absolute;
  overflow: hidden;
}



