#user-show {
  width: 702px;
  border-right: 1px solid #c41200;
  float: left;
}

.show-user-name {
  display: block;
}

#show-prof-pic {
  width: 200px;
  height: 200px;
}

.prof-page-info {

}

.prof-page-info > img {

}

.prof-page-info > h3 {

}

.prof-page-info > ul {

}

